.menu {
    background: url('../images/ipod.png');
    height: 530px;
    background-repeat: no-repeat;
    width: 300px;
    background-size: cover;
    margin: 0 auto;
    padding: 25px;
}

.menu ul {
    margin-top: 0px;
    list-style: none;
    text-align: left;
    font-size: 20px;
    -webkit-padding-start: 2px;
    width: 150px;
    background: white;
}

.menu ul > li {
    padding: 10px;
    cursor: default;
}
.menu ul > li.highlight {
    background-color: blue;
    color: white;
}

h3 {
    text-align: left;
    padding-left: 10px;
    margin-top: 4px;
    margin-bottom: 0px;
    background: white;
    width: 142px;
    padding-top: 10px;
    padding-bottom: 16px;
}
.img-cover > img {
    display: block;
    width: 290px;
    height: 220px;
    margin-top: 4px;
}
.touch-region {
    padding: 68px;
    margin-top: 62px;
    height: 210px;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    position: relative;
}
.touch-region > span {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0px auto;
    cursor: pointer;
    display: block;
}
.touch-region > i {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 80px;
    top: 7px;
    cursor: pointer;
}
.ipod-bg {
    background: url('../images/ipod_bg.jpeg');
    margin-left: 5px;
    width: 290px;
}